body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.parallax {
  /* The image used */
  

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 34px;
	
	text-align: center;
	letter-spacing: 5px;
  text-transform: uppercase;
  font: 100px "Lato", sans-serif;
  color: #111;
  
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  display: flex;
  
  
}

@media screen and (min-width: 801px) {
  li ,#social_text{
    font-size: 35px;
  }


}

@media screen and (max-width: 800px) {
  li ,#social_text {
    font-size: 23px;
	
  }
}
.parallax2 {
  /* The image used */
  background-image: url("images/footer-bg.png");
  min-height: 400px

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
   grid-template-columns: auto auto auto;
   grid-gap: 10px;
   padding-top: 100px;
   align-content: space-between;
   text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.first {
	color: #777;background-color:white;text-align:center;padding:20px 50px;text-align: justify;
	font-family: 'Cantora One';font-size: 30px;
	
}

li{
	font-family: 'Architects Daughter';
	padding:0;
	
}

#varn_text{
	
	font-family: 'Rock Salt'; 
	font-size: 20px;
}

#controller_icon,#brush_icon,#palette_icon,#music_icon,#cube_icon{
	
	transition: opacity,350ms;
	
	opacity:0;
	
}

.upper_text{

	margin: 0px;
}

ul#horizontal-list {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	}

li:hover {
	
	cursor:default;
	}
	
	li:hover > #controller_icon{
		
	opacity:100;
	cursor:default;
	}
	
	
	li:hover > #brush_icon{
		
	opacity:100;
	cursor:default;
	}
	
	li:hover > #palette_icon{
		
	opacity:100;
	cursor:default;
	}
	
	li:hover > #music_icon{
		
	opacity:100;
	cursor:default;
	}
	
	li:hover > #cube_icon{
		
	opacity:100;
	cursor:default;
	}

.welcome{
	line-height: 34px;
	height: auto;
	text-align: center;
	letter-spacing: 5px;
  text-transform: uppercase;
  font: 100px "Lato", sans-serif;
  color: #111;
}
	
.parallax, .parallax2{
	
	position:relative;
}

.next{
	
	   border-radius: 5px;
	  background-color: inherit;
	  /* padding: 14px 28px; */
	  font-size: 30px;
	  cursor: pointer;
	  /* width: 200px; */
	  display: inline-block;
	   /* justify-content: center; */
	  /* display: flex; */
}

/* On mouse-over */
.next:active 

 {margin: 0; height: 100%; overflow: hidden}

.box-1{
	font-size: 30px;
	/* justify-content: center; */
}
i{
	
	padding:0px;
}
a{
	
	text-decoration: none;
}

a:active{

	color:black;
}

a:visited{

	color:none;
}

@media screen and (min-width: 801px) {

	.round_Button, .round_Button2{

		width: 30%;
	}

	#social_text,#gallery_text,#blog_text{

		font-size: 45px;
	}

}

@media screen and (max-width: 800px) {


	.round_Button, .round_Button2{

		width: 60%;
	}

	#social_text,#gallery_text,#blog_text{

		font-size: 30px;
	}

}
@media screen and (min-width: 801px) {
		.parallax{
			background-image: url("images/v3.png");
		}
	}

@media screen and (max-width: 800px) {
	.parallax{

		background-image: url("images/mobile-bg.png");
	}

}
#social_text{
	transition: opacity,350ms;
	opacity:0;
	text-align:center;
	margin: auto;
	font-family: 'Cantora One';
	background: -webkit-linear-gradient(#0cebeb,#20e3b2,#29ffc6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#socials:hover > #social_text{

	opacity:100;
}
#gallery_text{
	transition: opacity,350ms;
	opacity:0;
	text-align:center;
	margin: auto;
	font-family: 'Cantora One';
	background: -webkit-linear-gradient(#0cebeb,#20e3b2,#29ffc6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#gallery:hover > #gallery_text{

	opacity:100;
}

#blog_text{
	transition: opacity,350ms;
	opacity:0;
	text-align:center;
	margin: auto;
	font-family: 'Cantora One';
	background: -webkit-linear-gradient(#0cebeb,#20e3b2,#29ffc6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#blog:hover > #blog_text{

	opacity:100;
}


