* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  background:#4a5859;
  height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
  font-family: "Cuprum";
  display: flex;
  justify-content: center;
  backdrop-filter: blur(3px);
	background: #4a58592a;
  font-size: 35px;
  color: #c83e4d;
}
 
#navbar li{
	margin: 5px;
	display: block;
  position: relative;
}

#SocialsNav::after, #HomeNav::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: #db9aa3;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;

	opacity: 1;
  	transform: scale(0);
  	transform-origin: center;
	  transform: translate3d(0, 0.2em, 0);
}

#GalleryNav::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: #db9aa3;
}

#navbar li:hover::after, #navbar li:focus::after{
	transform: scale(1);
}

i{	
	padding:0px;
}
a{	
	text-decoration: none;
	color:inherit;
}
a:active{
	color:none;
}
a:visited{
	color:none;
}
#gallery-container-1{
  margin-top: 50px;
  font-size: 20px;
  font-family: Cantora One;
  background: -webkit-linear-gradient(#0cebeb,#20e3b2,#29ffc6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display:flex;
  flex-direction:row;
}

#gallery-container-2{
  margin-top: 50px;
  font-size: 40px;
  font-family: Cantora One;
  background: -webkit-linear-gradient(#0cebeb,#20e3b2,#29ffc6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display:flex;
  flex-direction:row-reverse;
  align-items: flex-end;
}

#gallery-container-3{
  margin-top: 50px;
  font-size: 40px;
  font-family: Cantora One;
  background: -webkit-linear-gradient(#0cebeb,#20e3b2,#29ffc6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display:flex;
  flex-direction:row;
}

#gallery-box-1{

  margin: 20px;
  font-size: 10px;
  font-family: Cantora One;
  background-image: url(/images/pause.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width:160px;
  z-index:3;
}

#gallery-box-2{

  margin: 20px;
  font-size: 10px;
  font-family: Cantora One;
  background-image: url(/images/pause1.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width:160px;
  z-index:3;
  align-self:flex-end;
}

#gallery-box-3{

  margin: 20px;
  font-size: 10px;
  font-family: Cantora One;
  background-image: url(/images/pause2.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width:160px;
}

#controls{
    
  margin-top: 60px;
  font-size: 40px;
  font-family: Cantora One;
  background: -webkit-linear-gradient(#0cebeb,#20e3b2,#29ffc6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display:flex;
  flex-direction:column;
  align-items:flex-end;
}

#volume{
    -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 20%; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 8px;  
}

#volume:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 55%; 
  background: #4CAF50;
  cursor: pointer;
}

#volume::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 55%;
  background: #4CAF50;
  cursor: pointer;
}
.gallery-box img{

    border-radius: 7px;
}

.category{
    display: grid;
    text-align: center;
    font-size: 30px;
}

.box-image{
  border-radius: 5px;
  border: 5px solid rgb(236, 230, 230);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
  margin: 10px;
  margin-bottom:2px:
}
.box-image:hover{

  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.5), 0 6px 35px 0 rgba(0, 0, 0, 0.4);
}


.container{
  width: 40px;
  height: 40px;
  position: relative;
  background: #c2c2c2;
  opacity:0;
  border-radius:40px;
  z-index:2;
  margin: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-sign{
    width: 0;
	height: 0;
    position: absolute;
    margin-left:5px;
	border-top: 12px solid transparent;
	border-left: 17px solid #555;
	border-bottom: 12px solid transparent;
}

.pause-sign{
    opacity:0;
    width: 15px;
	height: 20px;
    position: absolute;
    border-left: 5px solid #555;
    border-right: 5px solid #555;
    
}

.song{
    z-index:1;
    position:absolute;
}

.song_desc{
    margin:20px;
  font-size: 30px;
  font-family: Cantora One;
  align-self:center;
}

.song_name{
    margin: 20px;
  font-size: 40px;
  font-family: Cantora One;
  align-self:center;
}

#page_title{
    background: -webkit-linear-gradient(#0cebeb,#20e3b2,#29ffc6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top:50px;
  font-size: 50px;
  font-family: Cantora One;
  align-self:center;
    
}

footer{
	border-top: 5px solid;
	border-color: #83c5be;
	background: #32373b;
	color:#edf6f9;
	display: flex;
	flex-grow: inherit;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

footer h1{
	color: #c83e4d;
	font-family: "Acka";
	font-size: 150px;
	margin: 0px;
	padding-top: 20px;
	padding-left: 20px;
}

footer ul{
	float: right;
	color: #c5c6c7;
	padding-right: 10px;
	list-style: none;
	font-family: "Cuprum";
  font-size: 35px;
}

footer li:hover{
	text-decoration: underline;
}

#copyright{
	color: #c5c6c7;
	text-align: center;
	vertical-align: middle;
	font-family: "Cuprum";
	flex-grow: 2;
	align-self: flex-end;
	font-size: 20px;
}

@font-face {
  font-family: Acka;
  src: url("/fonts/Acakadut-JRZnK.otf") format("opentype");
}
h1{
  font-family: "Acka";
}