/**Socials**/
body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  background-image: url("/images/rect815.png");
  height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  font-family: "Cantora One";
  display: flex;
  justify-content: center;
  backdrop-filter: blur(3px);
  background: -webkit-linear-gradient(left,rgba(236, 72, 7, 0.466),rgba(217, 10, 224, 0.459));
}
 
li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}
a{

  text-decoration: none;
  color: #F5F8FA;

}

a:active{
  color: #F5F8FA;
}
a:visited{

  color: #F5F8FA;

}

.follow-text{
  font-size:27px;
  transition:size,300ms;
  
}

.follow-text:hover{
  text-decoration: underline;
  font-size:30px;
}


li{
  
  font-size:40px;
  border-right: 1px solid #bbb;
}
li:last-child {
  border-right: none;
}

.homeBtn, .socialsBtn, .galleryBtn, .blogBtn{
  display: flex;
  justify-content: baseline;
  padding:5px;
  
}
.galleryBtn{
background-color: #090a098c;
}
.navbar_home{
  font-size: 0px;
  transition: font-size,300ms;
  padding: 0px;
  margin: 0%;
}
.navbar_socials{
  font-size: 0px;
  transition: font-size,300ms;
  padding: 0px;
  margin: 0%;
}
.navbar_gallery{
  font-size: 30px;
  transition: font-size,300ms;
  padding: 0px;
  margin: 0%;
}
.navbar_blog{
  font-size: 0px;
  transition: font-size,300ms;
  padding: 0px;
  margin: 0%;
}

.homeBtn:hover>.navbar_home{

  font-size: 30px;
}

.socialsBtn:hover>.navbar_socials{

  font-size: 30px;
}

.galleryBtn:hover>.navbar_gallery{

  font-size: 30px;
}

.blogBtn:hover>.navbar_blog{

  font-size: 30px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgba(17, 17, 17, 0.7);
  backdrop-filter: blur(10px);
}

#navbar_logo{
  width: 100px;
  align-self: flex-start;
}

.navbar_button{
    width:50px;
}







* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #111;
  border-radius: 7px;
  margin-top: 70px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{

  left: 0%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* .mySlides{

    border-right: 50px solid #000;
    border-left: 50px solid #000;
} */

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.gallery-container{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-box{

  padding: 20px;
  text-align: center;
  font-size: 40px;
  font-family: Cantora One;
  background: -webkit-linear-gradient(left,#240b36,#c31432);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-image{
  border-radius: 5px;
  border: 5px solid rgb(236, 230, 230);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
  margin-top: 10px;
}
.box-image:hover{

  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.5), 0 6px 35px 0 rgba(0, 0, 0, 0.4);
}



