/**Socials**/
body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  background-image: url("/images/socialsBG.png");
  height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  font-family: "Cantora One";
  display: flex;
  justify-content: center;
  backdrop-filter: blur(3px);
  background: -webkit-linear-gradient(left,rgba(236, 72, 7, 0.466),rgba(217, 10, 224, 0.459));
}
 
li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}
a{

  text-decoration: none;
  color: #F5F8FA;

}

a:active{
  color: #F5F8FA;
}
a:visited{

  color: #F5F8FA;

}

.follow-text{
  font-size:27px;
  transition:size,300ms;
  
}

.follow-text:hover{
  text-decoration: underline;
  font-size:30px;
}

.active { 
  background-color:#4CAF50;
  
}

li{
  
  font-size:40px;
  border-right: 1px solid #bbb;
}
li:last-child {
  border-right: none;
}

.homeBtn, .socialsBtn, .galleryBtn, .blogBtn{
  display: flex;
  justify-content: baseline;
  padding:5px;
  
}
.socialsBtn{
background-color: #090a098c;
}
.navbar_home{
  font-size: 0px;
  transition: font-size,300ms;
  padding: 0px;
  margin: 0%;
}
.navbar_socials{
  font-size: 30px;
  transition: font-size,300ms;
  padding: 0px;
  margin: 0%;
}
.navbar_gallery{
  font-size: 0px;
  transition: font-size,300ms;
  padding: 0px;
  margin: 0%;
}
.navbar_blog{
  font-size: 0px;
  transition: font-size,300ms;
  padding: 0px;
  margin: 0%;
}

.homeBtn:hover>.navbar_home{

  font-size: 30px;
}

.socialsBtn:hover>.navbar_socials{

  font-size: 30px;
}

.galleryBtn:hover>.navbar_gallery{

  font-size: 30px;
}

.blogBtn:hover>.navbar_blog{

  font-size: 30px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgba(17, 17, 17, 0.7);
  backdrop-filter: blur(10px);
}

#navbar_logo{
  width: 100px;
  align-self: flex-start;
}

.navbar_button{
    width:50px;
}

.embeds{

  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  
}

@font-face {
  font-family: DiscordFont;
  src: url(/fonts/UniSans/OTF/UniSansDemo-HeavyCAPS.otf);
}

.twitter-embed{

  margin-top: 50px;
  margin-right: 275px;
  font-family: "Open Sans";
  color: #F5F8FA;
  text-align:right;


}
.twitter-text{

  margin-right: px;

}
.discord-embed{
  margin-right: 60px;
  font-family: "DiscordFont";
  color: #7289DA;
  margin-top:55px;
}

.discord-screen{
  border-radius: 6px;
}

.discord-text{
  font-size:27px;
  text-decoration:none;
  color: #7289DA;
  transition:text-decoration,300ms;  
}

#examplePre::selection {
  background: inherit;
}

#examplePre::-moz-selection {
  background: inherit; /* Gecko Browsers */
}

.discord-text:hover{
  text-decoration: underline;
  cursor:pointer;
}
#succesMsg{
    
    font-size:20;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

