body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
.parallax {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: space-between;
	flex-direction: column-reverse;
	height: 100vh;
	display: flex;
	text-align: center;
	align-items: bottom;
	font-size: 30px;
}
.parallax2 {
	background-image: url("/images/footer-bg.png");
	min-height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	text-align: center;
}
.first {
	color: #777;
	background-color:white;
	text-align:center;padding:20px 50px;
	text-align: justify;
	font-family: 'Cantora One';
	font-size: 30px;	
}
li{
	font-family: 'Architects Daughter';
	padding:0;
}
#varn_text{	
	font-family: 'Rock Salt'; 
	font-size: 25px;
}
ul#horizontal-list {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}	
i{	
	padding:0px;
}
a{	
	text-decoration: none;
}
a:active{
	color:black;
}
a:visited{
	color:none;
}

@media screen and (min-width: 911px) {
	.round_Button{

		width: 40%;
	}
	#social_text,#gallery_text,#blog_text{

		font-size: 45px;
		transition: opacity,350ms;
		opacity:0;
	}
	li{
		font-size: 35px;
	}

	.parallax{
		background-image: url("/images/v3.png");			
	}
	.parallax2{
		padding-top: 100px;
	}
	p,#varn_text{
		font-size: 30px;
	}
	#controller_icon,#brush_icon,#palette_icon,#music_icon,#cube_icon{
	transition: opacity,350ms;
	opacity:0;
	}
	li:hover > #controller_icon{
	opacity:100;
	cursor:default;
	}
	li:hover > #brush_icon{		
		opacity:100;
		cursor:default;
	}
	li:hover > #palette_icon{		
		opacity:100;
		cursor:default;
	}
	li:hover > #music_icon{		
		opacity:100;
		cursor:default;
	}
	li:hover > #cube_icon{		
		opacity:100;
		cursor:default;
	}
}

@media screen and (max-width: 910px) {


	.round_Button{

		width: 60%;
	}

	#social_text,#gallery_text,#blog_text{

		font-size: 30px;
	}

	li {
		font-size: 23px;
	}
	.parallax{

		background-image: url("/images/mobile-bg.png");
	}

	.first{
		padding:15,20;
	}

	p,#varn_text{
		font-size: 20px;
	}

	.parallax2{
		min-height: 250px;
		padding-top: 70px;
	}

}


@media screen and (max-width: 640px) {


	.round_Button{

		width: 60%;
	}

	#social_text,#gallery_text,#blog_text{

		font-size: 25px;
	}

	li{
		font-size: 17px;
	}
	.parallax{

		background-image: url("/images/mobile-bg.png");
	}

	.first{
		padding:15,20;
	}

	p,#varn_text{
		font-size: 18px;
	}
	.parallax2{
		min-height: 250px;
		padding-top: 70px;
	}

}

@media screen and (max-width: 460px) {

	.round_Button{

		width: 80%;
	}

	#social_text,#gallery_text,#blog_text{

		font-size: 17px;
	}
	#controller_icon,#brush_icon,#palette_icon,#music_icon,#cube_icon{
	display: none;
	}
	li{
		font-size: 15px;
	}

	p,#varn_text{
		font-size: 15px;
	}
	.first{
		padding:10px;
	}
	.parallax2{
		min-height: 200px;
	}

	
}
#social_text{
	
	text-align:center;
	margin: auto;
	font-family: 'Cantora One';
	background: -webkit-linear-gradient(#0cebeb,#20e3b2,#29ffc6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#socials:hover > #social_text{

	opacity:100;
}
#gallery_text{
	text-align:center;
	margin: auto;
	font-family: 'Cantora One';
	background: -webkit-linear-gradient(#0cebeb,#20e3b2,#29ffc6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#gallery:hover > #gallery_text{

	opacity:100;
}

#blog_text{
	text-align:center;
	margin: auto;
	font-family: 'Cantora One';
	background: -webkit-linear-gradient(#0cebeb,#20e3b2,#29ffc6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#blog:hover > #blog_text{

	opacity:100;
}






