:root{
    --BG1 : #01A7C2;
    --BG2 : #007090;
    --font1 : #FFFFFF;
    --font2 : #FF570A;
    --font3 : #252422;
    --deco1 : #111;
    --color5 : #111;

}
body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
  }
  .parallax {
      height: 100%;
      justify-content: space-between;
      flex-direction: column;
      height: 100vh;
      display: flex;
      text-align: center;
      align-items: bottom;
      font-size: 30px;
      background-image: url(../../images/cric-bg.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: var(--font1);
      font-family: "Cabin Sketch";
      position: relative;
  }
  
  .parallax img{
      position: absolute;
      z-index: 0;
  }

  .parallax2{
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      background: #01a7c2;
      align-items: center;
      font-family: "Cuprum";
      font-size: 40px;
      color: var(--font2);
      justify-content: space-around;
  }

  .parallax2 h1{
      padding: 0px;
      padding-left: 10px;
      margin: 10px;
  }
  
  @font-face {
      font-family: Acka;
      src: url("/fonts/Acakadut-JRZnK.otf") format("opentype");
  }
  
  ul#horizontal-list {
      /* display: grid; */
      /* grid-template-columns: repeat(2, 1fr); */
      list-style-type: none;
      padding: 0px;
      margin: 0px;
  }	
  i{	
      padding:0px;
  }
  a{	
      text-decoration: none;
      color:inherit;
  }
  a:active{
      color: none;
  }
  a:visited{
      color:none;
  }
.center-diamond hr{
    border: 0;
  height: 1px;
  width: 10%;
  position: relative;
  margin: 30px auto;
}
  .center-diamond{
    background: aqua;
  } 
    
    .center-diamond{
      content: "";
      width: 24px;
      height: 24px;
      background: aqua;
      display: inline-block;
      border: 2px solid aqua;
      position: relative;
      top: -5px;
      left: 50%;
      margin: 0 0 0 -3px;
      transform:rotate(45deg);
      -ms-transform:rotate(45deg); /* IE 9 */
      -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
    }
  
  p{
    font-size: 50px;
    padding: 10px;
    margin:0px;
  }


  
  @media screen and (min-width: 911px) {
      .first li{
          display: block;
            float: right;
      }
  
      #navbar{
          font-size: 40px;
      }
      ::-webkit-scrollbar {
          width: 10px;
      }
  
      ::-webkit-scrollbar-track {
          background:var(--BG1) ; 
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
          background: var(--deco1); 
      }
        
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
          background: var(--deco2); 
      }
      p,#varn_text{
          font-size: 30px;
          margin: 0;
      }
  
      #about{
          font-size: 30px;
          padding: 30px;
      }
      #team_icon,#palette_icon,#music_icon{
      transition: opacity,350ms;
      opacity:0;
      }
      li:hover > #team_icon{
          opacity:100;
      }
      li:hover > #palette_icon{		
          opacity:100;
      }
      li:hover > #music_icon{		
          opacity:100;
      }

      .first {
        color: var(--font1);
        background-color:var(--BG2);
        text-align:center;
        text-justify: center;
        display: flex;
        justify-content: right;
        align-items: center;
        font-size: 50px;
        padding:20px 50px;
        font-family: 'Cuprum';
    }

    .main h2{
      font-size: 50px;
      align-self: center;
      text-decoration: underline;
    }
      .parallax h1{
        font-size: 400px;
        margin-bottom: 0px;
        margin-top: 20px;
        background-color: #ffffff00;
        -webkit-text-stroke: 3px white;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; 
                z-index: 1;
    }
    .parallax h2{
        font-size: 100px;
        padding:5px;
        font-family: 'Squada One', cursive;
        margin-top: 10px;
        margin-bottom: 0px;
        color: #01A7C2;
        -webkit-text-stroke: 0.1px white;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; 
                z-index: 1;
    }

    .main{
        padding-left:50px;
        padding-right: 50px;
        font-family: "Cuprum";
        color:var(--font3);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        
      }
    
      .main h1{
        font-size: 80px;
        padding:0px;
        margin-bottom: 40px;
        font-family: "Cuprum";
        color:var(--font3);
      }
      
      .main li::before {  
        transform: scaleX(0);
        transform-origin: bottom right;
      }
      
      .main li:hover::before {
        transform: scaleX(1);
        color: white;
        transform-origin: bottom left;
      }
      
      .main li::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: hsl(200 100% 80%);
        z-index: -1;
        color: white;
        transition: transform .3s ease;
      }
      
      .main li {
        background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
        position: relative;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
      }
    
      .main li:hover{
        background-position: 0 100%;
      }
    
      .main ul{
          display: flex;
          flex-direction: column;
          flex-grow: 8;
      }
    
      .main li{
        list-style-type: none;
        font-size: 70px;
      }
    
      .main li:hover{
        width: 100%;
      }

    footer{
        border-top: 5px solid;
        border-color: var(--deco2);
        background: var(--BG2);
        color:var(--font3);
        display: flex;
        flex-grow: inherit;
    
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; 
      }

      .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 25%;
        margin: 10px;
      }
      
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      /* Add some padding inside the card container */
      .container {
        padding: 2px 16px;
      }
    
      .container p{
        font-size: 20px;
      }
  }
  
  @media screen and (max-width: 910px) {
      li {
          font-size: 33px;
      }
      .container{
          height: 30%;
          padding:10%;
      }

      .parallax h1{
        font-size: 250px;
        margin-bottom: 0px;
        margin-top: 40%;
        background-color: #ffffff00;
        -webkit-text-stroke: 3px white;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; 
                z-index: 1;
    }

    .parallax h2{
        font-size: 60px;
        padding:5px;
        font-family: 'Squada One', cursive;
        margin-top: 10px;
        margin-bottom: 0px;
        color: #01A7C2;
        -webkit-text-stroke: 0.1px white;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; 
                z-index: 1;
    }
    .main{
        padding-left:50px;
        padding-right: 50px;
        font-family: "Cuprum";
        color:var(--font3);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        
      }
    
      .main h1{
        font-size: 40px;
        padding:0px;
        margin-bottom: 40px;
        font-family: "Cuprum";
        color:var(--font3);
      }
      
      .main li::before {  
        transform: scaleX(0);
        transform-origin: bottom right;
      }
      
      .main li:hover::before {
        transform: scaleX(1);
        color: white;
        transform-origin: bottom left;
      }
      
      .main li::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: hsl(200 100% 80%);
        z-index: -1;
        color: white;
        transition: transform .3s ease;
      }
      
      .main li {
        background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
        position: relative;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
      }
    
      .main li:hover{
        background-position: 0 100%;
      }
    
      .main ul{
          display: flex;
          flex-direction: column;
          flex-grow: 8;
      }
    
      .main li{
        list-style-type: none;
        font-size: 70px;
      }
    
      .main li:hover{
        width: 100%;
      }
  
    .first {
        color: var(--font1);
        background-color:var(--BG2);
        text-align:center;
        text-justify: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        padding:20px 50px;
        font-family: 'Cuprum';
    }
  
      p,#varn_text{
          font-size: 40px;
      }
  
      .parallax2{
          min-height: 250px;
          padding-top: 70px;
      }

      .footer h1{
          align-self: center;
      }
  
      footer{
        border-top: 5px solid;
        border-color: var(--deco2);
        background: var(--BG2);
        color:var(--font3);
        display: flex;
        flex-grow: inherit;

    
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; 
      }
  }
  
  
  @media screen and (max-width: 640px) {
  
      li{
          font-size: 40px;
      }
  
      .first{
          padding:15,20;
      }
  
      p,#varn_text{
          font-size: 18px;
      }
      .parallax2{
          min-height: 250px;
          padding-top: 70px;
      }


  
  }
  
  @media screen and (max-width: 460px) {
  
  
      p,#varn_text{
          font-size: 15px;
      }
      .first{
          padding:10px;
      }

      .first {
        color: var(--font1);
        background-color:var(--BG2);
        text-align:center;
        text-justify: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70%;
        padding:20px 50px;
        font-family: 'Cuprum';
    }
      .parallax2{
          min-height: 200px;
      }

      .main{
        padding-left:30px;
        padding-right: 30px;
        font-family: "Cuprum";
        color:var(--font3);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        
      }
    
      .main h1{
        font-size: 40px;
        text-decoration: underline;
        padding:0px;
        margin-bottom: 40px;
        font-family: "Cuprum";
        color:var(--font3);
      }
      
      .main li::before {  
        transform: scaleX(0);
        transform-origin: bottom right;
      }
      
      .main li:hover::before {
        transform: scaleX(1);
        color: white;
        transform-origin: bottom left;
      }
      
      .main li::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: hsl(200 100% 80%);
        z-index: -1;
        color: white;
        transition: transform .3s ease;
      }
      
      .main li {
        background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
        position: relative;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        font-size: 30px;
        padding-top: 10px;
        transition: background-position 275ms ease;
      }
    
      .main li:hover{
        background-position: 0 100%;
      }
    
      .main ul{
          display: flex;
          flex-direction: column;
          flex-grow: 8;
          padding:10px;
      }
    
      .main li:hover{
        width: 100%;
      }

      footer{
        border-top: 5px solid;
        border-color: var(--deco2);
        background: var(--BG2);
        color:var(--font3);
        display: flex;
        flex-grow: inherit;
        align-content: center;
    
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; 
      }

      .footer h1{
        align-self: center;
    }


    .cards{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 75%;
      margin: 10px;
    }
    
    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    /* Add some padding inside the card container */
    .container {
      padding: 2px 16px;
    }
  
    .container p{
      font-size: 14px;
    }
  
      
  }
  
  footer{
      border-top: 5px solid;
      border-color: var(--font2);
      background: var(--BG1);
      color:var(--font3);
      display: flex;
      flex-direction: column;
      flex-grow: inherit;
      align-content: center;
      justify-content: center;
  
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; 
  }
  
  footer h1{
      color: var(--font1);
      font-family: "Acka";
      font-size: 150px;
      margin: 0px;
      padding-top: 20px;
      padding-left: 20px;
      align-self: center;
  }
  
  footer ul{
      float: right;
      color: var(--font3);
      padding-right: 10px;
      list-style: none;
      font-family: "Cuprum";
  }
  
  footer li:hover{
      text-decoration: underline;
  }
  
  #copyright{
      color: var(--font3);
      text-align: center;
      vertical-align: middle;
      font-family: "Cuprum";
      flex-grow: 4;
      align-self: middle;
      font-size: 20px;
  }

  .leaderboard {
    max-width: 490px;
    width: 100%;
    border-radius: 12px;
    margin: 30px;
  }
  .leaderboard header {
    --start: 15%;
    height: 130px;
    background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, 0.33) 10%, rgba(54, 89, 219, 0.33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
    color: #fff;
    position: relative;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }
  .leaderboard header .leaderboard__title {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: calc(var(--start) * 0.75);
    transform: translateY(-50%);
    text-transform: uppercase;
    margin: 0;
  }
  .leaderboard header .leaderboard__title span {
    display: block;
  }
  .leaderboard header .leaderboard__title--top {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 6.5px;
  }
  .leaderboard header .leaderboard__title--bottom {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3.55px;
    opacity: 0.65;
    transform: translateY(-2px);
  }
  .leaderboard header .leaderboard__icon {
    fill: #fff;
    opacity: 0.35;
    width: 50px;
    position: absolute;
    top: 50%;
    left: var(--start);
    transform: translate(-50%, -50%);
  }
  .leaderboard__profiles {
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 15px 15px 20px;
    display: grid;
    row-gap: 8px;
  }
  .leaderboard__profile {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 10px 30px 10px 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    cursor: pointer;
    transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
    background-color: #fff;
  }
  .leaderboard__profile:hover {
    transform: scale(1.2);
    box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
  }
  .leaderboard__picture {
    max-width: 100%;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
  }
  .leaderboard__name {
    color: #979cb0;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.64px;
    margin-left: 12px;
  }
  .leaderboard__value {
    color: #35d8ac;
    font-weight: 700;
    font-size: 34px;
    text-align: right;
  }
  .leaderboard__value > span {
    opacity: 0.8;
    font-weight: 600;
    font-size: 13px;
    margin-left: 3px;
  }



  .leaderboard-2 {
    max-width: 490px;
    width: 100%;
    border-radius: 12px;
    margin: 30px;
  }
  .leaderboard-2 header {
    --start: 15%;
    height: 130px;
    background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(219, 120, 54, 0.33) 10%, rgba(219, 167, 54, 0.33) 17%), linear-gradient(to right, #fa9b5b, #dbaf36);
    color: #fff;
    position: relative;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }
  .leaderboard-2 header .leaderboard__title {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: calc(var(--start) * 0.75);
    transform: translateY(-50%);
    text-transform: uppercase;
    margin: 0;
  }
  .leaderboard-2 header .leaderboard__title span {
    display: block;
  }
  .leaderboard-2 header .leaderboard__title--top {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 6.5px;
  }
  .leaderboard-2 header .leaderboard__title--bottom {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 3.55px;
    opacity: 0.65;
    transform: translateY(-2px);
  }
  .leaderboard-2 header .leaderboard__icon {
    fill: #fff;
    opacity: 0.35;
    width: 50px;
    position: absolute;
    top: 50%;
    left: var(--start);
    transform: translate(-50%, -50%);
  }
  .leaderboard__profiles {
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 15px 15px 20px;
    display: grid;
    row-gap: 8px;
  }
  .leaderboard__profile {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 10px 30px 10px 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    cursor: pointer;
    transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
    background-color: #fff;
  }
  .leaderboard__profile:hover {
    transform: scale(1.2);
    box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
  }
  .leaderboard__picture {
    max-width: 100%;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
  }
  .leaderboard__name {
    color: #979cb0;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.64px;
    margin-left: 12px;
  }
  .leaderboard__value {
    color: #35d8ac;
    font-weight: 700;
    font-size: 34px;
    text-align: right;
  }
  .leaderboard__value > span {
    opacity: 0.8;
    font-weight: 600;
    font-size: 13px;
    margin-left: 3px;
  }

  .alt-head{
    --start: 15%;
    height: 130px;
    background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(219, 120, 54, 0.33) 10%, rgba(219, 167, 54, 0.33) 17%), linear-gradient(to right, #fa9b5b, #dbaf36);
    color: #fff;
    position: relative;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }

  .info{
      font-size: 50px;
      color: white;
  }

  table{
    border-collapse: collapse;
    width: 100%;
    font-size: xx-large;
    margin-bottom: 20px;
  }

  td, th{
    border: 1px solid #ddd;
    padding: 8px;
    border-top: none;
  }
  tr:nth-child(even){background-color: #f2f2f2;}
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0ea8f0;
    color: white;
  }