---
---

body,html{
    padding: 0;
    margin: 0;
    background-color: #1a1a1d;
}
img{
    height: 55px;
    padding: 5px;
    vertical-align: middle;
}

.navbar{
    background:#c3073f;
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 40px;
    max-height: max-content;
    ul{
        float: right;
        margin: 0;
        vertical-align: middle;
        li{
            display: inline;
            padding: 10px;
            vertical-align: middle;
            background-color: #6f2232;
            text-align: center;
        }
        li:hover{
            background-color:#950740;
        }
    }
}

@font-face {
    font-family: Vont;
    src: url(/fonts/Acakadut-JRZnK.otf);
  }

#welcome{
    font: 50px Vont;
    color: #66fcf1;
    text-align: center;
    background-color: #0b0c10;
    p{
        margin: 0px;
    } 

    ul{
        float: center;
        margin: 0;
        vertical-align: middle;
        font-size: 40px;
        li{
            display: inline;
           // list-style: none;
            vertical-align: middle;
            padding: 20px;
        }
    }

    h1{
        margin: 0px;
        padding: 20px;
    }
}