body, html{
    background-color: rgb(49, 49, 49);
    margin: 0;
}

.navbar{
    background-color: grey;
    color: rgb(0, 136, 255);
}

#logo{
    height: 75px;
    width: 75px;
    border-radius: 100%;
    margin: 10px;
    justify-self: flex-start;
    float: left;
}

.nav_items{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}