<!DOCTYPE html>
<html>
    <head>
        <title>Varniro's</title>
		<meta charset="utf-8">
	<link rel="icon" type="image/png" href="/images/favicon.png">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://kit.fontawesome.com/b9b5290eca.js" crossorigin="anonymous"></script>
	<link href='https://fonts.googleapis.com/css?family=Architects Daughter' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Cantora One' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Akronim' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=The Girl Next Door' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Sunshiney' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Rock Salt' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b9b5290eca.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Cantora One' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
	{{content}}
    </body>
</html>