---
---
body{
    margin: 0%;
}
.parallax{
    background-image: url("images/kristin-dope-zkx29dCIzO0-unsplash.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}